@import url("./__title/place__title.css");
@import url("./__image/place__image.css");
@import url("./__website/place__website.css");
@import url("./__paragraph/place__items.css");

.place{
    width: 100%;
    margin: 0 auto 72px;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width : 767px)  {
    .place{
        margin: 0 auto 48px;
    }
}
