.comments__title{
    max-width: 800px;
    color: white;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    text-align: center;  
    margin: 0 auto 48px;
}

@media (min-width : 1024px) and (max-width : 1279px) {
    .comments__title{
        width: 100%;
    }
}

@media (min-width : 768px)  and (max-width : 1023px)  {
    .comments__title{
        max-width: 100%;
        font-size: 42px;
        margin: 0 auto 24px;
    }
}

@media (max-width : 767px)  {
    .comments__title{
        width: 100%;
        font-size: 32px;
        margin: 0 auto 16px;
    }
}

