@import url("./__author/comment__author.css");
@import url("./__image/comment__image.css");
@import url("./__quote/comment__quote.css");

.comments__item{
    max-width: 382px;
}

@media (min-width : 1024px) and (max-width : 1279px) {
    .comments__item{
        max-width: 296px;
    }
}

@media (min-width : 768px)  and (max-width : 1023px)  {
    .comments__item{
        max-width: 382px;
        display: grid;
    }
}

@media (min-width : 375px)  and (max-width : 767px)  {
    .comments__item{
        max-width: 343px;
        display: grid;
    }
}

@media (max-width : 374px)  {
    .comments__item{
        max-width: 288px;
        display: grid;
    }
}