@import url("./_type/video_type_margin.css");
@import url("./__title/video__title.css");
@import url("./__subtitle/video__subtitle.css");
@import url("./__container/video__container.css");

.video{
    max-width: 1184px;
}

@media (min-width : 1024px) and (max-width : 1279px) {
    .video{
        max-width: 928px;
    }
}

@media (min-width : 768px)  and (max-width : 1023px)  {
    .video{
        max-width:720px;
    }
}

@media (min-width : 375px)  and (max-width : 767px)  {
    .video{
        max-width: 343px;
    }
}

@media (max-width : 374px)  {
    .video{
        max-width: 288px;
    }
}